.header {
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: #FFFFFF;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px #646464;
    align-items: center;
    padding: 4px 0 4px 0;
}
  
.headerLeftSide {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    font-weight: bold;
}
  
.exit, .userProfile {
    font-family: "Vazir Thin";
    font-size: 15px;
    text-decoration: none;
}
  
.exit{
    color: #FF6B6B;
    padding: 5px 0 0 40px;
}
  
.exit:hover, .userProfile:hover{
    color: #1A535C;
    text-decoration: none;
    transition-duration:2s;
}
  
.LoghmeLogo {
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 40px;
}