.restaurantBigLogo {
    width: 182px;
    height: 182px;
    border: 6px solid #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin-top: -90px;
    border-radius: 22px;
}
  
.restaurantBigName {
    color: #000000;
    font-weight: bolder;
    font-family: Vazir;
    font-size: 24px;
    padding-top: 11px;
}
  
.dashedDivider {
    border-right: 2px dashed #C7DBC7;
}
  
.menu {
    font-weight: bold;
    font-family: Vazir;
    margin-left: 16px;
    margin-top: 23px;
}
  
.menuTextAlign {
    margin-left: 6.1%!important;
    padding-left: 4%!important;
}
  
.menuText {
    font-weight: bold;
    font-family: Vazir;
    font-size: 23px;
    color: #1A535C;
    direction: rtl;
    padding-top: 60px;
}
  
.menuUnderline {
    margin-right: 36px;
    border-bottom: 1.5px solid #1A535C;
}
  
.menuContents {
    padding-right: 11px;
    margin-bottom: 25px;
}
  
.menuItem {
    direction: rtl;
    background-color: #FFFFFF;
    border: 5px solid #ffffff;
    flex-direction: column;
    border-radius: 4px;
    font-family: Vazir;
    margin-left: 16px;
    margin-right: 10px;
}
  
.foodLogo {
    width: 53px;
    height: 53px;
    object-position: right;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 7px;
  }
  
.foodInfo {
    margin-top: 3px;
}
  
.foodName{
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    margin-right: 2px;
    padding-left: 8px!important;
}
  
.foodRate {
    font-weight: normal;
    font-size: 8px;
    color: #000000;
    padding-top: 3px;
    margin-left: 1px;
}
  
.shoppingCart {
    direction: rtl;
    background-color: #FFFFFF;
    border: 5px solid #ffffff;
    margin-top: 23px;
    border-radius: 4px;
    font-family: Vazir;
    margin-left: 20px;
    margin-right: 10px;
}
  
.shoppingCartText {
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    width: 45%;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-right: 26%;
    border-bottom: 1px solid #8d8989;
}
  
.shoppingCartContents {
    flex-direction: column;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    margin-top: 10px;
    margin-left: -9px;
    margin-right: -9px;
    border: 0.5px dashed #a1a1a1;
    border-radius: 15px;
}
  
.shoppingCartItem {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    margin-left: 3px;
    margin-right: 2px;
}
  
.firstItem {
    margin-top: 12px;
}
  
.lastItem {
    margin-bottom: 17px;
}
  
.price {
    font-weight: normal;
    margin-right: 16px;
    margin-left: 18px;
    padding-left: 4px;
    font-size: 9px;
}
  
.priceUnderline {
    border-bottom: 1px solid #8d8989;
    padding-bottom: 5px;
}
  
.totalPriceText {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-top: 7px;
    margin-bottom: 7px;
}
  
.totalPriceValue {
    padding-right: 4px;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    margin-top: 7px;
    margin-bottom: 7px;
}

.submitButton {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    background-color: #4ecdc4 !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-family: Vazir !important;
    font-weight: normal !important;
    border-radius: 5px !important;
}

.addToCartButton {
    font-family: "Vazir Thin" !important;
    font-size: 9.5px !important;
    margin-top: 9px !important;
    margin-left: 13px !important;
    margin-right: 13px !important;
    margin-bottom: 4px !important;
    padding: 2px 6px 2px 6px !important;
    background-color: #FFE66D !important;
    color: #2f2f2f !important;
}

.dontHave {
    font-family: "Vazir Thin";
    font-size: 9.5px;
    margin-top: 9px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 4px;
    padding: 2px 6px 2px 6px;
    background-color: #E6E6E6;
    color: #4d4d4d;
}