html, body {
  margin: 0;
  height: 100%;
}

.bg{
  background-color: #F7FFF7;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Vazir";
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 0 10px 0;
  background-color: #1A535C;
  color: #FFFFFF;
  direction: rtl;
  text-align: center;
  box-shadow: 0px 0px 5px 1px #646464;
}

.loghmeContainer {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  position: relative;
  min-height: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #FFFFFF;
  justify-content: space-between;
  box-shadow: 0px 0px 3px 0px #646464;
  align-items: center;
  padding: 4px 0 4px 0;
}

.headerLeftSide {
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
}

.exit, .userProfile {
  font-family: "Vazir Thin";
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}

.exit{
  color: #FF6B6B;
  padding: 5px 0 0 40px;
}

.exit:hover, .userProfile:hover{
  color: #1A535C;
  text-decoration: none;
  transition-duration:2s;
}

.flaticon-smart-cart {
  color: #5f5e5e;
  padding-left: 15px;
}

.LoghmeLogo {
  height: 35px;
  width: 35px;
  float: right;
  margin-right: 40px;
}

.infoBar {
  height: 125px;
  font-family: "Vazir";
  flex-wrap: wrap;
  padding: 0;
  background-color: #FF6B6B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoBarUserDetails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  padding: 30px 0 30px 40px;
}

.infoBarDetailData {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: "Vazir";
  font-weight: lighter;
  font-size: 14px;
  color: #FFFFFF;
}

.infoBarUsername {
  display: flex;
  flex-wrap: nowrap;
  direction: rtl;
  flex-direction: row;
  align-items: center;
  font-family: "Vazir";
  padding-right: 50px;
  font-size: 23px;
  color: #FFFFFF;
}

.infoBarUsername div{
  font-weight: bold;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  padding-bottom: 150px;
} 

.selectBar{
  z-index: 1;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
  direction: rtl;
  font-family: "Vazir";
}

.selectBar a:hover{
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}

.increaseButtonOrder, .orderButtonOrder, .increaseButtonCart, .orderButtonCart{
  text-align: center;
  font-size: 17px;
  width: 208px;
  padding: 13px;
  box-shadow: 0px 2px 5px 0px #9c9c9c;
}

.increaseButtonOrder, .orderButtonCart{
  font-weight:lighter;
  color: #000000;
  background-color: #FFFFFF;
}

.orderButtonOrder, .increaseButtonCart{
  font-weight: bold;
  background-color: #FF6B6B;
  color: #FFFFFF;
}

.orderButtonCart, .orderButtonOrder{
  border-left: 1px dashed #7c7c7c;
}

.dataContainer {
  margin-top: -22px;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 82%;
  padding: 15px 0px 45px 0px;
  border: 0.6px solid #cac6c6;
  font-family: "Vazir";
}

.ordersCell{
  margin-top: 20px;
  font-family: Vazir;
  font-size: 15px;
  text-align: center;
  border: 0.6px solid #cac6c6;
  background-color: #FBFBFB;
  padding: 9px 5px 8px 5px ;
  align-items: center;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}

.deliveringState, .deliveredState, .searchingState{
  font-family: Vazir;
  text-align: center;
  width: auto;
  padding: 3px 0px 2px 0px;
  font-size: 11.5px;
}

.deliveredState {
  box-shadow: 0px 0px 1px 0px #646464;
  background-color: #FBF664;
  color: rgb(73, 71, 30);
}

.row-no-padding a:hover {
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}

.deliveringState {
  background-color: rgb(210, 251, 218);
  color: #19853A;
}

.searchingState {
  background-color: #C8FFFD;
  color: #247F78;
}

.increaseSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}

.increaseField {
  margin-top: 55px;
  font-family: Vazir;
  margin-right: 30px;
  margin-left: 40px;
  border-radius: 10px;
  text-align: left;
  direction: rtl;
}

.formControl {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #F1F1F1;
  color: #8C8C8C; 
}

.increaseButton {
  margin-top: 55px;
  background-color: #4ecdc4;
  color: #FFFFFF;
  font-size: 16px;
  padding: 7px 15px 7px 15px;
  font-family: Vazir;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 135px;
  margin-left: 30px;
}

.increaseButtn a:hover {
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}



/* Restaurant Page */

.borderShadow {
  box-shadow: 0px 0px 4px -1px #3b3a3a;
}

.userProfile {
  color: #5f5e5e;
  padding: 5px 0 0 22px;
}

.restaurantLogo {
  width: 182px;
  height: 182px;
  border: 6px solid #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin-top: -90px;
  border-radius: 22px;
}

.restaurantName {
  color: #000000;
  font-weight: bolder;
  font-family: Vazir;
  font-size: 24px;
  padding-top: 11px;
}

.dashedDivider {
  border-right: 2px dashed #C7DBC7;
}

.menu {
  font-weight: bold;
  font-family: Vazir;
  margin-left: 16px;
  margin-top: 23px;
}

.menuTextAlign {
  margin-left: 4%!important;
  padding-left: 4%!important;
}

.menuText {
  font-weight: bold;
  font-family: Vazir;
  font-size: 23px;
  color: #1A535C;
  direction: rtl;
  padding-top: 60px;
}

.menuUnderline {
  border-bottom: 2px solid #1A535C;
}

.menuContents {
  padding-right: 11px;
  margin-bottom: 25px;
}

.menuItem {
  direction: rtl;
  background-color: #FFFFFF;
  border: 5px solid #ffffff;
  flex-direction: column;
  border-radius: 4px;
  font-family: Vazir;
  margin-left: 16px;
  margin-right: 10px;
}

.foodLogo {
  width: 53px;
  height: 53px;
  object-position: right;
  object-fit: cover;
  margin-top: 5px;
  border-radius: 7px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.foodInfo {
  margin-top: 3px;
}

.foodName{
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  margin-right: 2px;
  padding-left: 8px!important;
}

.foodRate {
  font-weight: normal;
  font-size: 8px;
  color: #000000;
  padding-top: 3px;
  margin-left: 1px;
}

.starIcon {
  padding-top: 2px;
  font-weight: bold;
  font-size: 10px;
  color: #FFA526;
}

.shoppingCart {
  direction: rtl;
  background-color: #FFFFFF;
  border: 5px solid #ffffff;
  margin-top: 23px;
  border-radius: 4px;
  font-family: Vazir;
  margin-left: 20px;
  margin-right: 10px;
}

.shoppingCartText {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  width: 45%;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-right: 26%;
  border-bottom: 1px solid #8d8989;
}

.shoppingCartContents {
  flex-direction: column;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  margin-top: 10px;
  margin-left: -9px;
  margin-right: -9px;
  border: 0.5px dashed #a1a1a1;
  border-radius: 15px;
}

.shoppingCartItem {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  margin-left: 3px;
  margin-right: 2px;
}

.firstItem {
  margin-top: 12px;
}

.lastItem {
  margin-bottom: 17px;
}

.flaticon-minus {
  color: #ff6f6f;
  padding-left: 1px;
  padding-right: 1px;
}

.flaticon-plus {
  color: #205860;
  padding-left: 1px;
  padding-right: 1px;
}

.price {
  font-weight: normal;
  margin-right: 16px;
  margin-left: 18px;
  padding-left: 4px;
  font-size: 9px;
}

.priceUnderline {
  border-bottom: 1px solid #8d8989;
  padding-bottom: 5px;
}

.totalPriceText {
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 7px;
}

.totalPriceValue {
  padding-right: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 7px;
}