html, body {
  margin: 0;
  height: 100%;
}

.bg{
  background-color: #F7FFF7;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Vazir";
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 0 10px 0;
  background-color: #1A535C;
  color: #FFFFFF;
  direction: rtl;
  text-align: center;
  box-shadow: 0px 0px 5px 1px #646464;
}

.loghmeContainer {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  position: relative;
  min-height: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #FFFFFF;
  justify-content: space-between;
  box-shadow: 0px 0px 3px 0px #646464;
  align-items: center;
  padding: 4px 0 4px 0;
}

.headerLeftSide {
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
}

.exit, .userProfile {
  font-family: "Vazir Thin";
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}

.exit{
  color: #FF6B6B;
  padding: 5px 0 0 40px;
}

.exit:hover, .userProfile:hover{
  color: #1A535C;
  text-decoration: none;
  transition-duration:2s;
}

.flaticon-smart-cart {
  color: #5f5e5e;
  padding-left: 15px;
}

.LoghmeLogo {
  height: 35px;
  width: 35px;
  float: right;
  margin-right: 40px;
}

.infoBar {
  height: 125px;
  font-family: "Vazir";
  flex-wrap: wrap;
  padding: 0;
  background-color: #FF6B6B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoBarUserDetails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  padding: 30px 0 30px 40px;
}

.infoBarDetailData {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: "Vazir";
  font-weight: lighter;
  font-size: 14px;
  color: #FFFFFF;
}

.infoBarUsername {
  display: flex;
  flex-wrap: nowrap;
  direction: rtl;
  flex-direction: row;
  align-items: center;
  font-family: "Vazir";
  padding-right: 50px;
  font-size: 23px;
  color: #FFFFFF;
}

.infoBarUsername div{
  font-weight: bold;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  padding-bottom: 150px;
} 

.selectBar{
  z-index: 1;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
  direction: rtl;
  font-family: "Vazir";
}

.selectBar a:hover{
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}

.increaseButtonOrder, .orderButtonOrder, .increaseButtonCart, .orderButtonCart{
  text-align: center;
  font-size: 17px;
  width: 208px;
  padding: 13px;
  box-shadow: 0px 2px 5px 0px #9c9c9c;
}

.increaseButtonOrder, .orderButtonCart{
  font-weight:lighter;
  color: #000000;
  background-color: #FFFFFF;
}

.orderButtonOrder, .increaseButtonCart{
  font-weight: bold;
  background-color: #FF6B6B;
  color: #FFFFFF;
}

.orderButtonCart, .orderButtonOrder{
  border-left: 1px dashed #7c7c7c;
}

.dataContainer {
  margin-top: -22px;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 82%;
  padding: 15px 0px 45px 0px;
  border: 0.6px solid #cac6c6;
  font-family: "Vazir";
}

.ordersCell{
  margin-top: 20px;
  font-family: Vazir;
  font-size: 15px;
  text-align: center;
  border: 0.6px solid #cac6c6;
  background-color: #FBFBFB;
  padding: 9px 5px 8px 5px ;
  align-items: center;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}

.deliveringState, .deliveredState, .searchingState{
  font-family: Vazir;
  text-align: center;
  width: auto;
  padding: 3px 0px 2px 0px;
  font-size: 11.5px;
}

.deliveredState {
  box-shadow: 0px 0px 1px 0px #646464;
  background-color: #FBF664;
  color: rgb(73, 71, 30);
}

.row-no-padding a:hover {
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}

.deliveringState {
  background-color: rgb(210, 251, 218);
  color: #19853A;
}

.searchingState {
  background-color: #C8FFFD;
  color: #247F78;
}

.increaseSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}

.increaseField {
  margin-top: 55px;
  font-family: Vazir;
  margin-right: 30px;
  margin-left: 40px;
  border-radius: 10px;
  text-align: left;
  direction: rtl;
}

.formControl {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #F1F1F1;
  color: #8C8C8C; 
}

.increaseButton {
  margin-top: 55px;
  background-color: #4ecdc4;
  color: #FFFFFF;
  font-size: 16px;
  padding: 7px 15px 7px 15px;
  font-family: Vazir;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 135px;
  margin-left: 30px;
}

.increaseButtn a:hover {
  text-decoration: none;
  color: #1A535C;
  transition-duration:0.5s;
}



/* Restaurant Page */